In [43]:
pip install duckdb

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: duckdb in /Users/dmnavarro/.local/lib/python3.7/site-packages (0.10.2)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [44]:
import duckdb

Create a connection and a server

In [45]:
conn = duckdb.connect("database.db")

In [46]:
conn

In [47]:
cur = conn.cursor()

Now let's do something with our cursor

In [48]:
cur.execute("SELECT * FROM Site LIMIT 5")

Now we want results..three ways of getting them:
1. All results at once

In [49]:
cur.fetchall()

[('barr',
  'Barrow',
  'Alaska, USA',
  71.30000305175781,
  -156.60000610351562,
  220.39999389648438),
 ('burn',
  'Burntpoint Creek',
  'Ontario, Canada',
  55.20000076293945,
  -84.30000305175781,
  63.0),
 ('bylo',
  'Bylot Island',
  'Nunavut, Canada',
  73.19999694824219,
  -80.0,
  723.5999755859375),
 ('cakr',
  'Cape Krusenstern',
  'Alaska, USA',
  67.0999984741211,
  -163.5,
  54.099998474121094),
 ('cari',
  'Canning River Delta',
  'Alaska, USA',
  70.0999984741211,
  -145.8000030517578,
  722.0)]

Cursors don't have to store anything, they just transfer queries to the database and get results back.

In [50]:
cur.fetchall()

[]

In [51]:
cur.execute("SELECT Nest_ID FROM Bird_nests LIMIT 10")
[t[0] for t in cur.fetchall()]

['14HPE1',
 '11eaba',
 '11eabaagc01',
 '11eabaagv01',
 '11eababbc02',
 '11eababsv01',
 '11eabaduh01',
 '11eabaduv01',
 '11eabarpc01',
 '11eabarpc02']

In [52]:
cur.execute("SELECT COUNT(*) FROM Bird_nests")
cur.fetchall() # tupple of one element

[(1547,)]

In [53]:
# more convenient to say
cur.execute("SELECT COUNT(*) FROM Bird_nests")
cur.fetchone()

(1547,)

In [54]:
cur.execute("SELECT COUNT(*) FROM Bird_nests")
cur.fetchone()[0]

1547

3. using an iterator - but Duckdb doesn't support iterators :(

In [55]:
cur.execute("SELECT Nest_ID FROM Bird_nests LIMIT 10") 
while True: 
    row = cur.fetchone()
    if row == None: 
        break 
        #do something with row 
    print(f"got nest ID {row[0]}")

got nest ID 14HPE1
got nest ID 11eaba
got nest ID 11eabaagc01
got nest ID 11eabaagv01
got nest ID 11eababbc02
got nest ID 11eababsv01
got nest ID 11eabaduh01
got nest ID 11eabaduv01
got nest ID 11eabarpc01
got nest ID 11eabarpc02

Can do things other than SELECT!

In [56]:
cur.execute("""
    CREATE TEMP TABLE temp_table AS 
    SELECT * FROM Bird_nests LIMIT 10 
""")

In [57]:
cur.execute("SELECT * FROM temp_table")

In [58]:
cur.fetchall()

[('b14.6',
  2014,
  'chur',
  '14HPE1',
  'sepl',
  'vloverti',
  datetime.date(2014, 6, 14),
  None,
  3,
  None,
  None),
 ('b11.7',
  2011,
  'eaba',
  '11eaba',
  'wrsa',
  'bhill',
  datetime.date(2011, 7, 10),
  'searcher',
  4,
  None,
  None),
 ('b11.6',
  2011,
  'eaba',
  '11eabaagc01',
  'amgp',
  'dkessler',
  datetime.date(2011, 6, 24),
  'searcher',
  4,
  6.0,
  'float'),
 ('b11.6',
  2011,
  'eaba',
  '11eabaagv01',
  'amgp',
  'dkessler',
  datetime.date(2011, 6, 25),
  'searcher',
  3,
  3.0,
  'float'),
 ('b11.6',
  2011,
  'eaba',
  '11eababbc02',
  'bbpl',
  'dkessler',
  datetime.date(2011, 6, 24),
  'searcher',
  4,
  4.0,
  'float'),
 ('b11.7',
  2011,
  'eaba',
  '11eababsv01',
  'wrsa',
  'bhill',
  datetime.date(2011, 7, 7),
  'searcher',
  4,
  2.0,
  'float'),
 ('b11.6',
  2011,
  'eaba',
  '11eabaduh01',
  'dunl',
  'dkessler',
  datetime.date(2011, 6, 28),
  'searcher',
  3,
  2.0,
  'float'),
 ('b11.6',
  2011,
  'eaba',
  '11eabaduv01',
  'dunl',
  'dkessler',
  datetime.date(2011, 6, 29),
  'searcher',
  4,
  5.0,
  'float'),
 ('b11.7',
  2011,
  'eaba',
  '11eabarpc01',
  'reph',
  'bhill',
  datetime.date(2011, 7, 8),
  'searcher',
  4,
  4.0,
  'float'),
 ('b11.7',
  2011,
  'eaba',
  '11eabarpc02',
  'reph',
  'bhill',
  datetime.date(2011, 7, 8),
  'searcher',
  3,
  4.0,
  'float')]

A note on fragility

For example: 
```
INSERT INTO Site VALUES ("abcd", "Foo", 35.7, -119.5, "?") 
```

A less fragile way of expressing the same thing: 
```
INSERT INTO Site (Code, Site_name, latitude, longitude, Something_else) 
    VALUES("abcd", "Foo", 35.7, -119.5, "?")
```

In the same vein: SELECT * is fragile:

In [59]:
cur.execute("SELECT * FROM Site LIMIT 3") 
cur.fetchall()

[('barr',
  'Barrow',
  'Alaska, USA',
  71.30000305175781,
  -156.60000610351562,
  220.39999389648438),
 ('burn',
  'Burntpoint Creek',
  'Ontario, Canada',
  55.20000076293945,
  -84.30000305175781,
  63.0),
 ('bylo',
  'Bylot Island',
  'Nunavut, Canada',
  73.19999694824219,
  -80.0,
  723.5999755859375)]

A better, more robust way of coding to the same thing:

cur.execute("SELECT Site_name, Code, Latitude, Longitude FROM Site LIMIT 3")
cur.fetchall()

An extended example: Question we're trying to answer: How many nests do we have for each species?

Approach: first get all species. Then execute a count query for each species:

A digression: string interpolation in Python

In [60]:
s= "My name is %s" 
print(s % "Greg")

My name is Greg

In [62]:
query = """
    SELECT COUNT (*) FROM Bird_nests
    WHERE Species = '%s'
"""
# for each species, stuff in code from species
# use our cursor
cur.execute("SELECT Code FROM Species LIMIT 3")
for row in cur.fetchall(): # duckdb workaround
    code = row[0]
    prepared_query = query % code
    #print(prepared_query)
    cur2 = conn.cursor()
    cur2.execute(prepared_query)
    print(f"Species {code} has {cur2.fetchone()[0]} nests")
    cur2.close()

Species agsq has 0 nests
Species amcr has 0 nests
Species amgp has 29 nests

The above python interpolation is dangerous and has cuased many database hacks! There's a better way:

In [63]:
query = """
    SELECT COUNT (*) FROM Bird_nests
    WHERE Species = ?
"""
# for each species, stuff in code from species
# use our cursor
cur.execute("SELECT Code FROM Species LIMIT 3")
for row in cur.fetchall(): # duckdb workaround
    code = row[0]
    # NOT NEEDED! prepared_query = query % code
    #print(prepared_query)
    cur2 = conn.cursor()
    cur2.execute(query, [code]) # <---  added argument here 
    print(f"Species {code} has {cur2.fetchone()[0]} nests")
    cur2.close()

Species agsq has 0 nests
Species amcr has 0 nests
Species amgp has 29 nests

Let's illustrate the danger with a different example

In [64]:
abbrev = "TS" 
name = "Taylor Swift" 
cur.execute("""
    INSERT INTO Personnel (Abbreviation, Name) 
    VALUES ('%s', '%s') 
    """ % (abbrev, name) 
           )

In [65]:
cur.execute("SELECT * FROM Personnel") 
cur.fetchall()[-3:]

[('emagnuson', 'Emily Magnuson'),
 ('mcorrell', 'Maureen Correll'),
 ('TS', 'Taylor Swift')]

In [68]:
abbrev = "CO"
name = "Conan O'Brian"
cur.execute( """
 INSERT INTO Personnel (Abbreviation, Name) 
 VALUES(?,?)
 """, 
    [abbrev, name])

In [69]:
cur.execute("SELECT * FROM Personnel") 
cur.fetchall()[-3:]

[('mcorrell', 'Maureen Correll'),
 ('TS', 'Taylor Swift'),
 ('CO', "Conan O'Brian")]