In [7]:
%pip install duckdb

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: duckdb in /Users/dmnavarro/.local/lib/python3.7/site-packages (0.10.2)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [1]:
import duckdb

In [2]:
conn = duckdb.connect("database.db")

In [3]:
cur = conn.cursor()

In [4]:
cur.execute("SELECT * FROM Camp_assignment LIMIT 3")
cur.fetchall()

[(2005,
  'bylo',
  'lmckinnon',
  datetime.date(2005, 6, 1),
  datetime.date(2005, 8, 5)),
 (2005,
  'bylo',
  'blalibert',
  datetime.date(2005, 6, 1),
  datetime.date(2005, 8, 20)),
 (2006,
  'bylo',
  'lmckinnon',
  datetime.date(2006, 6, 1),
  datetime.date(2006, 8, 5))]

In [5]:
cur.fetchall()

[]

In [6]:
cur.fetchone()

In [12]:
inner_query = """
    SELECT COUNT(*) AS num_nests 
    FROM Bird_nests
    WHERE Observer = ?
"""

outer_query = """
    SELECT DISTINCT Observer FROM Bird_nests 
"""

for row in cur.execute(outer_query).fetchall():
    observer = row[0]
    cur2 = conn.cursor()
    cur2.execute(inner_query, [observer])
    print(f"Observer {observer} gathered {cur2.fetchone()[0]} nests")

Observer dkessler gathered 69 nests
Observer bharrington gathered 245 nests
Observer lmckinnon gathered 249 nests
Observer dhodkinson gathered 15 nests
Observer bhill gathered 55 nests
Observer ssaalfeld gathered 13 nests
Observer wenglish gathered 18 nests
Observer lworing gathered 14 nests
Observer vloverti gathered 54 nests
Observer rlanctot gathered 40 nests
Observer abankert gathered 17 nests
Observer edastrous gathered 38 nests
Observer amould gathered 42 nests
Observer bkaselow gathered 4 nests
Observer jflamarre gathered 43 nests
Observer jzamuido gathered 11 nests
Observer mballvanzee gathered 2 nests
Observer mbwunder gathered 4 nests
Observer None gathered 0 nests
Observer kkalasz gathered 12 nests

Pandas

In [13]:
import pandas as pd

In [14]:
df = pd.read_sql("SELECT * FROM Site", conn)